body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
.card {
    border: none;
}
.nav-black{
    background-color: #000;
    opacity: 0.9;
    color: white;
}